__pycache__/
*.py[cod]
WorkingData/
Build/
*.grf
*.nml
build.log
.venv/
.DS_Store
legacy_fixed.png
*_original.png
*_working.png
*.png.cache
*.png.cacheindex
**/working/

/tools
/src/grf/generated_variants
